build:debian --platforms=//:platform/linux/debian
build:debian --config=docker

build:fedora --platforms=//:platform/linux/fedora
build:fedora --config=docker

build:ubuntu --platforms=//:platform/linux/ubuntu
build:ubuntu --config=docker

build:centos --platforms=//:platform/linux/centos
build:centos --config=docker

build:rocky --platforms=//:platform/linux/rocky
build:rocky --config=docker

build:docker --experimental_enable_docker_sandbox
build:docker --experimental_docker_verbose
build:docker --strategy=LSB=docker --strategy=Genrule=docker --strategy=MakeRpm=docker
build:docker --define=EXECUTOR=remote
test:docker --strategy=TestRunner=docker

#build:debug --toolchain_resolution_debug=//lsb:toolchain_type
#build:debug --toolchain_resolution_debug=@rules_pkg//toolchains/rpm:rpmbuild_toolchain_type
#build:debug --toolchain_resolution_debug=@rules_python//python:toolchain_type
build:debug --sandbox_debug

test --test_output=errors
build --incompatible_strict_action_env
